* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

.container {
    padding: 5%;
}

.hero {
    align-items: flex-start;
    background-image: url("../images/cinema_2.jpg");
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero-cta {
    width: 100%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }

  .hero-cta h2 {
    font-style: italic;
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }

  .hero-cta p {
    font-size: 3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  .smaller {
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 15%;
  }
.centered {
    color: white;
    font-style: italic;
    font-size: 2vw;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 .align-left {
     float: left;
 } 

 .align-right {
     float: right;
 }

 div h4 {
     font-size: 5vw;
     text-align: center;
     color: white;
     font-weight: bolder;
 }

 div h5 {
     font-size: 3vw;
     text-align: justify;
    color: white;

 }

 .input {
     margin-left: 75px;
     margin-top:25px;
     padding: 10px;
     background-color: rgba(80, 148, 212, 0.8);
     border-radius: 10px;
 }


 footer h5 {
  text-align: center;
   width: 100%;
 }

 @media screen and (max-width: 575px) {
    .g7-button {
        display: relative;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
        width: 100px;
        height: 100px;
        border-radius: 4px;
         }
    .row .col .s8 {
        width: 100%;
    }     

 }