* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,18,24,1) 100%);
  }

.hero {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,18,24,1) 100%);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hero-cta {
	text-align: center;
}

.hero-cta p {
	font-size: 3vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.smaller {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15%;
}

.margin-card {
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 65px;
}

.centered {
	color: white;
	font-style: italic;
	font-size: 2vw;
	font-weight: bolder;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.list {
	display: inline-flex;
	height: 100%;
	margin: 50px;
}

div h4 {
	font-size: 5vw;
	text-align: center;
	color: white;
	font-weight: bolder;
}

.well {
	margin: 1rem;
}

div h5 {
	text-align: justify;
	color: white;
}

.input {
	margin-left: 75px;
	margin-top: 25px;
	padding: 10px;
	background-color: rgba(80, 148, 212, 0.8);
	border-radius: 10px;
}

footer h5 {
	height: 10%;
	font-size: 1.5vw;
	text-align: center;
	width: 100%;
	color: white;
  }

nav ul li a:hover {
	color: white;
    background-color: rgb(0, 76, 239);
	text-decoration: none;
  }

#movies img,
#movie img {
	width: 100%;
}

@media (min-width: 960px) {
	#movies .col-md-3 .well {
		height: 390px;
	}

	#movies .col-md-3 img {
		height: 240px;
	}
}